---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/utils/Container.astro";

import { EMAIL, APP_NAME } from "../../consts";
---

<Layout>
  <Container className="text-white dark:text-primary-100 px-0">
    <h1 class="text-3xl font-bold mb-4">Eliminar Cuenta</h1>
    <p class="mb-4 text-xl">
      Si deseas eliminar tu cuenta de {APP_NAME}, por favor envíanos un correo a
      <a
        class="text-primary-50 hover:text-primary-100 hover:underline"
        href={`mailto:${EMAIL}`}
      >
        {EMAIL}
      </a>
    </p>
  </Container></Layout
>
