---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/utils/Container.astro";
---

<Layout>
  <Container className="text-white dark:text-primary-100 px-0">
    <h1 class="text-3xl font-bold mb-4">Eliminar Cuenta</h1>
    <p class="mb-4">
      Si deseas eliminar tu cuenta de Work Today, por favor envíanos un correo a
      <a href="mailto:soporte@worktoday.io"> soporte@worktoday.io </a>
    </p>
  </Container></Layout
>
