---
import Container from "../components/utils/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container className="text-white dark:text-primary-100 px-0">
    <h1 class="text-3xl font-bold mb-6">
      Política de Privacidad y Términos y Condiciones
    </h1>

    <div class="max-w-2xl">
      Política de Privacidad AVISO DE PRIVACIDAD KUUB PACK, S.A.S El presente
      Aviso de Privacidad observa los principios de licitud, consentimiento,
      información, calidad, finalidad, lealtad, proporcionalidad y
      responsabilidad establecidos en la Ley Federal de Protección de Datos
      Personales en Posesión de Particulares (LFPDPPP), de los Estados Unidos
      Mexicanos y las Leyes aplicables a los Estados Unidos de Norte América y
      tratados Internacionales. 1. Aceptación Los datos personales que
      proporcione cualquier persona física, incluyendo sin limitar,
      suscriptores, clientes, proveedores y/o usuarios al utilizar los
      servicios/plataforma/medios electrónicos de “KUUB PACK, S.A.S” (LA
      EMPRESA) y/o proporcionar cualquier tipo de información, usted, EL
      USUARIO, expresamente: Acepta las condiciones contenidas en el presente
      Aviso de Privacidad; Está de acuerdo en que la información proporcionada
      por usted pueda almacenarse, usarse y, en general, tratarse para los fines
      que se señalan, incluso para fines comerciales y de promoción; Otorga a LA
      EMPRESA autorización para obtener, compilar, almacenar, compartir,
      comunicar, transmitir y usar tal información de cualquier manera o forma,
      de conformidad con las condiciones establecidas en el presente y las leyes
      aplicables. NO se requiere del consentimiento para el tratamiento de datos
      personales cuando se tenga el propósito de cumplir obligaciones derivadas
      de una relación jurídica entre usted y LA EMPRESA, o en los demás casos
      establecidos por la ley. 2. Privacidad En cumplimiento a la LFPDPPP le
      informamos los términos y condiciones del Aviso de Privacidad de LA
      EMPRESA, y las medidas de resguardo involucradas. LA EMPRESA, podrá
      obtener sus Datos Personales, esto es información que lo identifica o lo
      hace identificable. Algunos de estos datos podrán incluir su: nombre,
      domicilio, número de teléfono, correo electrónico, datos de pago, datos de
      facturación, (ejemplos citados de manera enunciativa más no limitativa).
      Estos datos, al proporcionarlos el USUARIO, manifiesta su voluntad, ya sea
      previo consentimiento expreso, de manera verbal, por escrito, por medios
      electrónicos, ópticos o por cualquier otra tecnología, o por signos
      inequívocos al utilizar los sistemas de LA EMPRESA, o cualquier otro medio
      electrónico proporcionado por ésta para uso del USUARIO. 3. Uso de datos:
      LA EMPRESA utilizará los Datos Personales del USUARIO para: Para
      identificarle, ubicarle, comunicarle, contactarle, enviarle información
      y/o mercancía, proveer un servicio y/o mercancía, así como su transmisión
      a terceros por cualquier medio. El uso de los datos personales tendrá
      relación con el tipo de interacción que usted tiene con el Responsable, ya
      sea comercial, civil, mercantil o de cualquier otra naturaleza. Cumplir
      aquellas obligaciones que se derivan de la relación jurídica existente
      entre usted como titular de los datos personales y LA EMPRESA, Prestación
      de servicios y soluciones al USUARIO/CLIENTE, Para ayudar con iniciativas
      de marketing y de comunicación, Cualquier otro servicio post venta que LA
      EMPRESA ofrezca a sus clientes, con fines de identificación, promoción,
      venta, publicidad, estadística, análisis interno, atención a clientes y
      consumidores. Obtener información con fines estadísticos, publicitarios,
      promocionales y/o mercadológicos; Invitaciones a próximos eventos, ofertas
      y promociones. Tener un punto de contacto respecto al cambio de Términos,
      Condiciones y el Aviso. Encuestas para mejorar la experiencia de los
      usuarios. Garantizar que usted cumple con los Términos y Condiciones y el
      Acuerdo de compañeros de viaje y ley aplicable. Con el propósito de
      validar, a través de un proveedor externo a Worki, la información
      contenida en el pasaporte, la licencia de conducir, la credencial de
      elector IFE o INE o algún otro documento de identidad que te sea
      solicitado ya sea cuando te registres o cuando la plataforma así lo
      requiera, el proveedor del servicio de validación procesará los datos bajo
      el control de Worki y estará bajo el mismo grado de seguridad y cuidado
      que Worki en virtud del presente Aviso de Privacidad. LA EMPRESA,
      conservará sus Datos Personales únicamente por el tiempo dispuesto por la
      LFPDPPP Para determinados servicios como nuestros programas publicitarios
      y/o compra o pago de servicios, NO solicitamos y NO almacenamos ninguna
      información sobre la tarjeta de crédito, ni débito, solo como única
      excepción la cuenta CLABE bancaria, que guardamos en formato encriptado en
      nuestros servidores seguros. Worki respalda su método de pago con una
      Pasarela de Pago de terceros como lo es el servicio especializado de
      OpenPay BBVA a fin de proporcionarle una experiencia óptima, de mejor
      calidad y alta seguridad de nuestros servicios. En caso de que sus datos
      personales pretendan ser utilizados para una finalidad distinta a las
      anteriores, LA EMPRESA le notificará por correo electrónico o por medios
      electrónicos, a fin de obtener su consentimiento para el tratamiento de
      sus datos personales de acuerdo a las nuevas finalidades. De no recibir su
      consentimiento, para los casos en que es necesario, LA EMPRESA no
      utilizará sus datos personales. Worki puede moderar los mensajes que usted
      intercambia en el Sitio. Worki no venderá, cederá, distribuirá ni revelará
      sus comunicaciones a una tercera persona sin su consentimiento, sin
      perjuicio de que la ley aplicable requiera la revelación de esa
      comunicación. Una vez que los datos personales hayan dejado de ser
      necesarios para el cumplimiento de las finalidades por las que fueron
      recabados se eliminarán de nuestra base de datos. 4. Recopilación de
      datos. Al visitar cualquiera de los sitios de internet de LA EMPRESA,
      nosotros recopilamos automáticamente algunos datos personales, que luego
      sumamos a un conjunto para que no estén asociados a una única persona que
      sea identificable. Con esta información elaboramos estadísticas sobre
      cuántos usuarios visitaron nuestros sitios web y a qué páginas accedieron.
      Al recopilar esta información, aprendemos a adaptar de la mejor manera a
      los sitios web a nuestros visitantes. Tal y como explicamos a
      continuación, recopilamos esta información a través de “archivos de
      registro” o “web beacons”. Archivos de registro: Los archivos de registro
      son archivos web del servidor (como el nombre del dominio o la dirección
      IP, URL, el código de respuesta http, el sitio web desde el que nos ha
      visitado o la fecha y duración de su visita) que se crean automáticamente
      cuando un usuario de Internet visita un sitio. Una vez que deje de usar
      nuestro sitio web, procesaremos y utilizaremos esta información sólo para
      permitir más conexiones, para temas de facturación, para detectar
      interrupciones en el equipo de telecomunicaciones, así como para detectar
      abusos en nuestros servicios de telecomunicaciones. Esta información se
      elimina inmediatamente una vez finalizada la conexión al sitio web. Esta
      información se utiliza para crear perfiles conjuntos generales de nuestra
      base de usuarios del sitio, y no para crear perfiles de usuario
      personalizados. Web Beacons: Algunas páginas de nuestro sitio web
      contienen “web beacons” (también conocidos como etiquetas de Internet,
      etiquetas de píxel y clear GIFs). Los web beacons permiten a terceros
      obtener información, como es la dirección IP del ordenador que ha
      descargado la página en la que aparece el beacon, la URL de la página en
      la que aparece el beacon, la hora en la que se produjo la visita a la
      página con el beacon, el tipo de navegador utilizado para visitar la
      página, así como la información de las cookies enviada por el tercero. La
      temporalidad del manejo de los datos personales será indefinida a partir
      de la fecha en que usted los proporcionó a LA EMPRESA. 5. Derechos “ARCO”
      DEL USUARIO. El ejercicio de los derechos “ARCO” (acceso, rectificación,
      cancelación u oposición) los podrá ejercer EL USUARIO en cualquier momento
      siguiendo los procedimientos establecidos en este Aviso de Privacidad,
      incluyendo la información aquí solicitada. EL USUARIO, podrá, en todo
      momento, revocar el consentimiento que haya otorgado, y que fuere
      necesario, para el tratamiento de sus datos personales. Para fácil
      referencia, los derechos “ARCO” significan: • Acceso.- Que se le informe
      cuáles de sus datos personales están contenidos en las bases de datos de
      LA EMPRESA y para qué se utilizan dichos datos personales. •
      Rectificación.- Que se corrijan o actualicen sus datos personales en caso
      de que sean inexactos o incompletos. Usted deberá informar a LA EMPRESA de
      los cambios que se deban hacer a sus datos personales, cuando dichos
      cambios solo sean de su conocimiento. • Cancelación.- Que sus datos
      personales sean dados de baja total o parcialmente de las bases de datos
      de LA EMPRESA y de terceros a quienes les LA EMPRESA transfirió Datos
      Personales. Esta solicitud dará lugar a un periodo de bloqueo tras el cual
      procederá la supresión de los datos. • Oposición.- Oponerse por causa
      legítima al tratamiento de sus datos personales por parte de LA EMPRESA o
      limitar su uso o divulgación. 6. Medidas de inviolabilidad. LA EMPRESA ha
      adoptado medidas de seguridad, físicas, electrónicas, administrativas, y
      técnicas para proteger sus datos personales contra daño, pérdida,
      alteración, destrucción o el uso, acceso o tratamiento no autorizado. Solo
      el personal de LA EMPRESA, podrá acceso a los Datos Personales y dicho uso
      se limitará al propósito de llevar a cabo las finalidades identificadas.
      Asimismo, el personal guardará la mayor confidencialidad al respecto de
      éstos y dicha obligación subsistirá después de que finalicen las
      relaciones USUARIO/EMPRESA. En caso que al momento de proporcionar sus
      Datos Personales a LA EMPRESA, se le asigne un nombre de usuario y
      contraseña o algún tipo de clave de acceso para acceder a la información,
      EL USUARIO será el único responsable de que dicha información se mantenga
      confidencial. Se sugiere no compartir ésta información con nadie. 7.
      Transferencia de Datos Personales. LA EMPRESA se abstiene de compartir,
      sin su consentimiento previo, sus datos personales con terceros, salvo que
      la ley o un mandato judicial así lo requieran; o para proteger los
      derechos o bienes de LA EMPRESA o de sus clientes; o que dicha
      transferencia esté prevista en la legislación aplicable. Los Datos
      Personales solo serán utilizados para los fines mencionados en el Aviso de
      Privacidad. LA EMPRESA podrá transferir los datos a personas físicas o
      morales, nacionales e internacionales para fines de publicidad y
      mercadotecnia. Al usar el presente servicio/plataforma/programa/etc, EL
      USUARIO expresa su completo consentimiento. 8. Enmiendas al Aviso de
      Privacidad LA EMPRESA se reserva el derecho de modificar o enmendar, total
      o parcialmente, el presente Aviso de Privacidad. El Aviso de Privacidad
      modificado se le hará llegar al USUARIO mediante el correo electrónico que
      proporcionó, mediante publicación en la página web de LA EMPRESA o
      mediante cualquier otro medio electrónico que LA EMPRESA considere
      conveniente. La falta de oposición al nuevo Aviso de Privacidad dentro de
      los 5 días hábiles siguientes a su recepción se entenderá como su
      aceptación a los términos que en él se establecen. 9. Contacto Cualquier
      duda, aclaración o tema relativo al uso de sus datos personales o, La
      solicitud de acceso, rectificación, cancelación u oposición, LA EMPRESA
      pone a disposición del USUARIO la siguiente información: NOMBRE DE LA
      EMPRESA: KUUB PACK S.A. (Empresa de la República Mexicana), Calle Av. Del
      Marques Número Exterior 47 Rincones Del Marques Municipio El Marques
      Entidad Federativa Querétaro. SITIO OFICIAL: https://worktoday.io/ SITIO
      REDES SOCIALES: www.facebook.com/ worktoday.app/ SITIO REDES SOCIALES:
      www.instagram.com/worktoday.app/ MEDIO DE CONTACTO PRINCIPAL:
      https://worktoday.io/contacto Conforme a la LFPDPPP, todo ejercicio de los
      derechos ARCO deberá ser enviada al contacto anteriormente establecido, y
      deberá contener la siguiente información: I. El nombre del titular y
      domicilio u otro medio para comunicarle la respuesta a su solicitud; II.
      Los documentos que acrediten la identidad o, en su caso, la representación
      legal del titular; III. La descripción clara y precisa de los datos
      personales respecto de los que se busca ejercer alguno de los derechos
      ARCO, y IV. Cualquier otro elemento o documento que facilite la
      localización de los datos personales. El titular deberá indicar, además de
      lo señalado las modificaciones a realizarse y aportar la documentación que
      sustente su petición. De conformidad al artículo 30 de la LFPDPPP, LA
      EMPRESA cuenta con un responsable encargado para la atención que EL
      USUARIO merece. E-mail: contacto@worktoday.io Términos y Condiciones
      TÉRMINOS Y CONDICIONES DE USO DEL SERVICIO KUUB PACK, S.A.S Última
      actualización: 31 de Octubre del 2024 El presente Contrato describe los
      términos y condiciones generales (“Términos y Condiciones” o “TyC”)
      aplicables al uso de los ofrecidos por KUUB PACK S.A.S, en adelante: “WORK
      TODAY” y sus derivados (“El Sitio”). Cualquier persona que desee acceder
      y/o usar el Sitio y sus Servicios podrán hacerlo sujetándose a los TyC
      Generales, junto con todas las demás políticas y principios que rigen a
      Worki y que son incorporados al presente por referencia. PERSONALIDAD,
      DOMICILIO, DESCRIPCIÓN Y ÁMBITO DEL SERVICIO. (i) KUUB PACK S.A.S, Empresa
      de la República Mexicana, con un Folio de constitución: SAS2021426036 de
      su país (ii) domicilio social Calle Av. Del Marques Número Exterior 47
      Rincones Del Marques Municipio El Marques Entidad Federativa Querétaro.,
      (iii) que opera y provee servicios especializados de Servicios de
      plataformas tecnológicas, mismos que serán descritos en el cuerpo de los
      presentes TyC, a través de medios electrónicos (iv) a través del Sitio
      https://worktoday.io/ y APP Móvil Worki App , pone a disposición de los
      Usuarios una plataforma de contacto para beneficiar a los trabajadores y
      dueños de negocios, facilitando las condiciones de conseguir un trabajo o
      personal por un tiempo determinado. CUALQUIER PERSONA QUE NO ACEPTE ESTOS
      TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER
      OBLIGATORIOS Y VINCULANTES, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS
      SERVICIOS. EL USO DEL SITIO Y LA ACEPTACIÓN A ESTOS TyC TENDRÁ LA MISMA
      FUERZA LEGAL QUE UNA FIRMA AUTÓGRAFA Y PODRÁ SER ELEGIBLE COMO PRUEBA
      JUDICIAL EN CASO DE CONTROVERSIA. I.- INTRODUCCIÓN, OBJETO Y DE LOS
      SERVICIOS: “Worki”, actúa en los ámbitos de la distribución y comercio de
      bienes y servicios; y es propietaria de un SITIO WEB y APP MOVIL en
      Internet (en adelante, el SITIO WEB y APP MOVIL o El Sitio), a través del
      cual pone determinada información a disposición de sus usuarios. El SITIO
      WEB y APP MOVIL es accesible desde varios dominios o direcciones de
      Internet, entre otros: // https://worktoday.io/, Work Today App. A través
      del SITIO WEB y APP MOVIL, Worki facilita a sus Usuarios el acceso y la
      utilización de diversos servicios y contenidos, entre ellos, el servicio
      de contacto para facilitar las condiciones de conseguir un trabajo o
      personal por un tiempo determinado. (en adelante, los “Servicios”) puestos
      a disposición por Worki o por terceros. Los presentes términos y
      condiciones tienen por objeto establecer y regular el acceso general al
      SITIO WEB y APP MOVIL, así como a los distintos contenidos y servicios
      prestados por Worki o por terceros desde y/o a través de este. Tanto el
      acceso como la utilización general del SITIO WEB y APP MOVIL atribuyen la
      condición de usuario del mismo (en adelante, el “Usuario”), implicando
      necesariamente la aceptación plena y sin reservas de todas y cada una de
      las disposiciones incluidas en los términos y condiciones generales de
      acceso y uso del mismo. El Usuario queda expresamente informado y acepta
      que estas condiciones podrán experimentar variaciones en el futuro a libre
      criterio de Worki y los cuales serán notificados por correo electrónico
      y/o a través del SITIO WEB y APP MOVIL. Cada vez que Worki realice un
      cambio a sus TyC, El Usuario deberá aceptarlos nuevamente. En caso que
      Worki realice una actualización a los TyC, el Usuario será notificado por
      la vía electrónica que Worki estime necesaria. Una vez que el Usuario haya
      sido notificado y éste continúe utilizando el SITIO WEB y APP MOVIL, se
      entenderá que ha aceptado los TyC tácitamente conforme al punto I. a)
      siguiente. a) CONSENTIMIENTO Y ACEPTACIÓN DE LOS TYC. El Usuario acepta y
      consiente que con navegar y utilizar el SITIO WEB y APP MOVIL estará
      aceptando tácitamente los presentes TyC y manifiesta tácitamente un
      consentimiento de la voluntad de los TYC, tomando en consideración lo
      dispuesto por el artículo 1803 del Código Civil Federal: “El
      consentimiento puede ser expreso o tácito, para ello se estará a lo
      siguiente: I.- Será expreso cuando la voluntad se manifiesta verbalmente,
      por escrito, por medios electrónicos, ópticos o por cualquier otra
      tecnología, o por signos inequívocos, y II.- El tácito resultará de hechos
      o de actos que lo presupongan o que autoricen a presumirlo, excepto en los
      casos en que por ley o por convenio la voluntad deba manifestarse
      expresamente”. Al Registrarse como Usuario, se está aceptando expresamente
      al contenido de los Presentes TyC; y al utilizar el SITIO WEB y APP MOVIL
      se está aceptando tácitamente el contenido de los Presentes TyC. La
      utilización de ciertos servicios ofrecidos a los Usuarios a través del
      SITIO WEB y APP MOVIL se encuentra sometida a condiciones particulares (en
      adelante, las “Condiciones Particulares”) que, según los casos, podrán
      sustituir, completar y/o modificar los presentes términos y condiciones
      generales. b) DEFINICIONES: A efectos de los presentes términos y
      condiciones de uso los siguientes términos tendrán el sentido que se
      indica a continuación: “Condiciones”: significa los presentes Términos y
      Condiciones Generales de uso, incluyendo las Condiciones Particulares que
      en su caso pudieran resultar de aplicación y las Normas de Buena Conducta
      que se encuentren vigentes en cada momento. “Remuneración Monetaria”: la
      cantidad acordada entre el Negocio y el Trabajador en relación con la
      oferta de trabajo a realizar, esta será pagada por el Negocio como su
      contribución al coste de la misma. “Código de Conducta”: Lineamientos de
      conducta que todo Usuario debe seguir y respetar, mismo que se encuentra
      en el apartado IV.10.∙ “Negocio”: significa la persona que utilizando el
      SITIO WEB y APP MOVIL y ofrece una vacante en un destino dado y en un
      tiempo acordado entre ambos a cambio de una Remuneración Monetaria.
      “Usuario”: se refiere a un Trabajador, Negocio o cualquier otro usuario
      del SITIO WEB y APP MOVIL. “Trabajador”: significa una persona que ha
      aceptado una oferta de trabajo por un Negocio. “Servicio”: se refiere a
      cualquier servicio provisto por el SITIO WEB y APP MOVIL a cualquier
      Usuario. “Cuenta del Usuario”: significa una cuenta de usuario registrado
      en el SITIO WEB y APP MOVIL y utilizada para acceder al servicio provisto
      por el SITIO WEB y APP MOVIL. c) DE LOS SERVICIOS QUE LOS USUARIOS PUEDEN
      DISPONER POR MEDIO DE Worki: WORK TODAY pone a disposición de los Usuarios
      por medio del SITIO WEB y APP MOVIL una plataforma digital para que éstos
      puedan contactarse entre sí y concretar trabajos o personal por un tiempo
      determinado. Worki prohíbe estrictamente hacer contrataciones dentro de la
      plataforma, SITIO WEB y APP MOVIL, es decir un Negocio que publica una
      vacante no puede sacar un beneficio extra ni laboral, ni económico más
      allá de la Actividad y Cargo Publicada en El Sitio. Worki cuenta con un
      equipo de soporte que monitorea constantemente la actividad y en caso de
      que un Usuario intente lucrar, será eliminado del sistema, de la comunidad
      y no se le permitirá volverse a registrar. d) VACANTES INTERNACIONALES:
      Worki podrá poner en contacto a personas que quieran ingresar un País
      ajeno al que se encuentran actualmente (En adelante, País Destino). En
      este caso, los Usuarios son los únicos responsables de contar con todos
      los documentos migratorios necesarios para accesar legalmente al País
      Destino. Asimismo, Worki se deslinda de cualquier responsabilidad
      inherentes. II.- NIVELES DE ACCESO Y REGISTRO DE USUARIOS: Con carácter
      general el mero acceso al SITIO WEB y APP MOVIL podrá ser libre. No
      obstante, WORK TODAY condiciona el acceso a determinadas áreas del SITIO
      WEB y APP MOVIL y la utilización de todos sus Servicios a la previa
      cumplimentación del correspondiente formulario de registro de Usuario. A
      todos los efectos, el acceso al SITIO WEB y APP MOVIL a través de
      identificación de Usuario por medio de redes sociales se considerará
      registro de Usuario y conlleva necesariamente la aceptación sin reserva u
      objeción alguna de los presentes términos y condiciones generales.
      Asimismo, Worki podrá poner a disposición de los Usuarios determinados
      Servicios para cuya utilización pudiera requerir la cumplimentación de
      registros adicionales y/o satisfacción de determinadas contraprestaciones
      dinerarias. En su caso, dicho registro se efectuará en la forma
      expresamente indicada en el propio servicio o en las condiciones
      particulares que lo regulen. La condición de Usuario de Worki requiere
      mayoría de edad legal. El Usuario manifiesta y declara -en todo caso-,
      contar con al menos 18 años de edad. El Usuario garantiza la veracidad de
      la anterior manifestación, así como del conjunto de los datos de registro
      facilitados a Worki y es responsable de mantenerlos completamente
      actualizados mientras dure su condición del mismo. En todo caso el Usuario
      será el único responsable de las manifestaciones falsas o inexactas que
      realice y de los perjuicios que cause a Worki o a terceros por la
      información que facilite. WORK TODAY se reserva el derecho de negar el
      alta en el SITIO WEB y APP MOVIL. Esta negativa no implicará derecho a
      indemnización alguna. Una vez se complete satisfactoriamente el proceso de
      registro, Worki dará de alta al Usuario en su base de datos de Usuarios
      registrados. Una cuenta será generada con su dirección de correo
      electrónico y “palabra clave de acceso” asociada para cada Usuario. Al
      aceptar los términos y condiciones aquí presentes, acuerdas y manifiestas
      tu consentimiento sobre el hecho que Worki pueda recopilar copias de
      identificaciones o documentos de identidad que te pertenezcan, incluyendo,
      pero no limitados a pasaporte, licencia de conducir y credencial de
      elector IFE o INE, con el propósito de validar la información contenida en
      dichas identificaciones o documentos de identidad a través de los
      servicios de un proveedor externo a Worki. III.- SISTEMA DE PUBLICACIONES
      DE VACANTES: 1. Servicio de Publicaciones: Worki ofrece a sus miembros un
      servicio de publicación en línea (en adelante, el «PUBLICAR ») en vistas a
      facilitar y conseguir un trabajo o personal para trabajar por un tiempo
      determinado. Worki se reserva el derecho de no ofrecer el Servicio de
      Publicaciones para una Vacante debido a: (i) modificación de la ley
      aplicable, cambios en las acciones de las autoridades reguladoras o
      modificaciones jurisprudenciales, (ii) modificaciones de prácticas
      comerciales o cambios tecnológicos, (iii) cambios en las consideraciones
      del negocio sobre los Servicios de Reservación, y (iv) otras razones
      importantes y válidas. WORK TODAY se reserva el derecho de limitar el
      número y/o el tipo de Miembros eligibles para el Servicio de Publicaciones
      para cualquier Vacante. 2. Cómo publicar una Vacante o un Servicio: El
      Negocio proporciona los detalles de su Vacante en el Sitio, especificando
      la fecha y la hora de salida y ubicación, el importe del Remuneración
      Monetaria y todas aquellas condiciones de Vacantes relevantes. El
      Trabajador aplica a uno o más vacantes desde el Sitio solamente al pulsar
      en el botón «Aplicar» (en adelante, la «Aplicación »). Worki enviará
      seguidamente un e-mail / notificación de confirmación a cada uno, al
      Negocio y al Trabajador, confirmando la Aplicación (en adelante, la
      «Confirmación de la Vacante»). Una vez la Confirmación de la Vacante se ha
      enviado, la Aplicación está completa y un acuerdo vinculante entre el
      Negocio y el Trabajador debe constituirse de forma separada, para llevar
      la ejecución la Vacante. Los miembros aceptan que, dada la naturaleza del
      servicio, el Negocio y los Trabajadores no podrán recurrir a Worki por
      ningún aspecto de la transacción incluyendo los relacionados con
      cancelaciones, cambios de último minuto, incumplimiento de la Vacante por
      parte del Negocio o el Trabajador o la falta de pago de la Remuneración
      Monetaria. En particular, es responsabilidad del Trabajador el cobro de la
      Remuneración Monetaria por parte del Negocio en el momento de la
      finalización de la Vacante. WORK TODAY no contactará ninguna de las partes
      y no entablará otras acciones que las descritas más arriba para gestionar
      la Aplicación. La Vacante es solamente gestionado por el respectivo
      Negocio y los Trabajadores. Tenga en cuenta que Worki se reserva el
      derecho de cambiar cualquier aspecto del Sitio o el Servicio que puede
      incluir la adición de nuevos servicios (que pueden requerir un pago) o
      retirar cualquier Servicio existente. Worki no garantiza que el Sitio
      estará en funcionamiento en todo momento y que los Servicios pueden ser
      suspendidos durante el período en que el Sitio no está en funcionamiento.
      Worki no será responsable frente los Miembros en el caso de que el Sitio
      no esté operativo. IV.- OBLIGACIONES DEL USUARIO: Serán obligaciones del
      Usuario, sin detrimento de las que surjan a partir del clausulado de este
      documento, las siguientes: a)El Usuario vendrá obligado a garantizar la
      veracidad y exactitud de los datos de registro introducidos en los
      sistemas de información de Worki y llevar a cabo cuantas actualizaciones
      de los mismos fueran necesarias. En todo caso el Usuario será el único
      responsable de las manifestaciones falsas o inexactas que realice y de los
      perjuicios que cause a Worki o a terceros por la información que facilite,
      comprometiéndose expresamente a mantener indemnes a Worki y/o a
      cualesquiera terceros por los daños y perjuicios que se pudieran derivar
      de la inexactitud o falta de veracidad de dichos datos. b)Custodiar el
      “Usuario” y la “palabra clave de acceso” facilitados por Worki al Usuario
      con diligencia, impidiendo el acceso de terceras personas no autorizados a
      los mismos y por tanto asegurando su confidencialidad. c)Notificar a Worki
      con carácter inmediato cualquier indicio de la existencia de una violación
      en la seguridad del SITIO WEB y APP MOVIL, de usos inapropiados o
      prohibidos de los servicios prestados desde el mismo, o de fallos de
      seguridad de cualquier índole, así como cualquier violación al Código de
      Conducta. d)Hacer buen uso de los contenidos, información y servicios
      prestados desde o a través del SITIO WEB y APP MOVIL, conforme a la ley,
      la buena fe y a las buenas costumbres generalmente aceptadas,
      comprometiéndose expresamente a: e)Abstenerse de realizar prácticas o usos
      de los servicios con fines ilícitos, fraudulentos, lesivos de derechos o
      intereses de Worki o de terceros, infractores de las normas contenidas en
      el presente contrato o en las Condiciones Particulares que en su caso
      regulen cualquiera de los servicios prestados desde o a través del SITIO
      WEB y APP MOVIL. f)Abstenerse de hacer una utilización profesional o
      comercial del servicio de puesta en contacto de usuarios para facilitar
      las condiciones de conseguir un trabajo o personal por un tiempo
      determinado. A estos efectos el usuario queda expresamente informado de
      que Worki prohíbe la utilización del SITIO WEB y APP MOVIL para ninguna
      modalidad de uso profesional y/o comercial de la misma. Esto es, el SITIO
      WEB y APP MOVIL ofrece una plataforma de puesta en contacto y comunicación
      entre particulares para facilitar las condiciones de conseguir un trabajo
      o personal por un tiempo determinado. Se prohíbe expresamente la
      pretensión de obtención de beneficio alguno a través del SITIO WEB y APP
      MOVIL y/o de los acuerdos a que puedan llegar los usuarios a través del
      SITIO WEB y APP MOVIL. Por consiguiente, KUUB PACK puede cerrar o
      suspender la cuenta de cualquier usuario que utilice algún servicio de
      Contratación de Personal (Agencias de empleo) o compañía de uso similar
      para lucrar a través de los servicios que ofrecemos en la plataforma. En
      caso de que exista alguna duda, KUUB PACK podrá pedirle al Negocio una
      Documentación legal o cualquier otro documento que compruebe que es el
      titular de la cuenta que está lucrando a través de la plataforma del
      Sitio. g)Abstenerse de mantener varias cuentas de usuario para una única
      identidad y abstenerse igualmente de suplantar a ningún otro usuario en el
      SITIO WEB y APP MOVIL. Esto es: los usuarios se comprometen a mantener una
      única cuenta de usuario en el SITIO WEB y APP MOVIL y a no actuar a través
      de identidades de otros o identidades simuladas. h)Comportarse de forma
      razonable y educada en la ejecución de la Vacante, comprometiéndose
      expresamente el usuario a observar en todo momento las “NORMAS DE BUENA
      CONDUCTA” que se indican a continuación en la estipulación IV siguiente.
      j)Abstenerse de realizar cualquier tipo de acción que pudiera inutilizar,
      sobrecargar o dañar sistemas, equipos o servicios del SITIO WEB y APP
      MOVIL o accesibles directa o indirectamente a través del SITIO WEB y APP
      MOVIL. l) Respetar los derechos de propiedad intelectual e industrial de
      Worki y de terceros sobre los contenidos, información y servicios
      prestados desde o a través del SITIO WEB y APP MOVIL, absteniéndose con
      carácter general de copiar, distribuir, reproducir o comunicar en forma en
      forma alguna los mismos a terceros, de no mediar autorización expresa y
      por escrito de WORK TODAY o de los titulares de dichos derechos. V.-
      NORMAS DE BUENA CONDUCTA Las disposiciones de la presente estipulación
      constituyen las “NORMAS DE BUENA CONDUCTA” de una vacante, concertado a
      través del servicio de publicación de información para conseguir un empleo
      o personal del SITIO WEB y APP MOVIL. La utilización del SITIO WEB y APP
      MOVIL para la concertación de vacantes comprende la completa aceptación
      sin reserva alguna de las presentes NORMAS DE BUENA CONDUCTA. V.1 Aspectos
      esenciales de la publicación de información para Vacantes en el SITIO WEB
      y APP MOVIL de Worki En el supuesto de desear utilizar el servicio, el
      usuario se compromete a publicar en el SITIO WEB y APP MOVIL vacantes que
      obedecerán a necesidades individuales particulares reales (no ficticias)
      del usuario. El usuario queda informado de que cualesquiera informaciones
      del tipo: precios, itinerario (incluyendo uniformes, propinas,
      transporte), aspectos relativos al consumo de tabaco o a la utilización de
      bebidas alcohólicas, y en general todos los detalles, de aspectos
      relativos a comodidad o preferencias específicas u opiniones sobre una
      vacante o del anuncio son proporcionadas directamente por los usuarios y
      no son de ninguna manera responsabilidad de Worki. Todos los usuarios son
      responsables de garantizar que la información proporcionada es correcta y
      asegurar que se cumple con los términos acordados entre las partes. Worki
      no se responsabiliza y no responderá de la exactitud de esta información y
      del incumplimiento de las condiciones acordadas entre los usuarios. V.2
      Seguridad Cada Negocio se compromete a garantizar un ambiente laboral
      seguro, prudente, con pleno respeto a la normativa vigente y sin poner en
      riesgo la seguridad del Trabajador. De igual forma, el trabajador se
      compromete a no consumir ningún tipo de substancias que pudieran afectar a
      su capacidad de trabajar íntegramente. Además, se compromete a comportarse
      de forma cortés, educada y razonable, a no distraer la atención del
      Negocio o alterar su conducta y, en general, a observar la normativa
      vigente por todo el espacio de duración del trayecto. Los usuarios deben
      observar precauciones adecuadas incluso en relación con la información que
      facilita en la web o directamente a los usuarios. El usuario debe recordar
      que no conoce la identidad real de los usuarios que pueda encontrar en el
      SITIO WEB y APP MOVIL y no debe presumir como cierta la identidad
      manifestada de los terceros con los que pudiera haber acordado la
      compartición de auto. No se debe proporcionar información financiera o
      monetaria directamente al resto de los usuarios. Sin perjuicio de la
      posibilidad o necesidad de acudir a las autoridades, el usuario deberá
      informar de cualquier tipo de abuso o acoso de forma inmediata a través
      del SITIO WEB y APP MOVIL en la siguiente dirección contacto@worktoday.io.
      Si el usuario no estuviera seguro de si debe denunciar el abuso, deberá en
      todo caso comunicarlo a Worki. Cuando los usuarios acuerden un Ejecución
      de Vacante, deben tener presente que Worki recomienda que los mismos se
      encuentren siempre en espacios públicos y acompañados. Además, Worki
      recomienda que los usuarios lleven siempre su teléfono móvil. Los usuarios
      no se opondrán u ofenderán porque algún usuario tome medidas razonables
      encaminadas a garantizar su propia seguridad, incluyendo las descritas
      anteriormente. V.3 Transparencia Cada usuario debe ser capaz de presentar
      de inmediato su documentación a otro usuario, en el caso de que éste lo
      solicite. Para el Negocio, esta documentación consiste en: documento que
      acredite la identidad del negocio(licencia de funcionamiento). Para un
      Trabajador que , se trata de su INE. En beneficio de todos y en aras de un
      nivel de seguridad razonable, todos los usuarios se comprometen a
      proporcionar toda la información y documentación razonable que otro
      usuario le solicite para la Ejecución de Vacante. Las identidades reales
      del Trabajador y Negocio deben corresponder con las ofrecidas a en el
      SITIO WEB y APP MOVIL, así como lo acordado entre las partes. Un
      Trabajador o un Negocio puede negarse a trabajar o prestar el servicio si
      la identidad de un usuario no corresponde. Worki recuerda a los usuarios
      que el SITIO WEB y APP MOVIL no puede ser utilizado para finalidades
      comerciales o profesionales las cuáles se encuentran expresamente
      prohibidas. V.5 Puntualidad Los usuarios se comprometen a respetar el
      horario acordado entre ellos. Todos los usuarios se comprometen a cumplir
      los tiempos y lugares acordados para la Vacante. El negocio y el
      trabajador deben presentarse en el lugar y la hora acordados para la
      vacante. Después de un período de cortesía de 30 minutos después de la
      hora programada para el inicio, la persona que no acude será considerada
      responsable de la cancelación siéndole de aplicación la política de
      cancelación vigente en cada momento. V.6 Normas y Legislación Tanto el
      Negocio como el Trabajador deben cumplir escrupulosamente con las normas
      del Reglamento Laboral aplicables en cada Estado en vigor y demás
      normativa que resultara de aplicación en aquellos territorios
      Internacionales y, en particular las normativas Mexicanas. Además, ambas
      partes, se comprometen a no llevar ninguna sustancia o objeto peligroso o
      ilegal a la vacante. V.7 Higiene Cada usuario debe disponer y observar
      unas condiciones de higiene personal razonables y apropiadas, al inicio y
      durante el trayecto compartido, de forma que no cause u origine molestias
      al resto de usuarios. V.9 Información publicada en la web Ningún usuario
      de la web puede publicar en ella ningún tipo de difamación o información
      ofensiva o que dañe o pudiera dañar a terceros. Worki eliminará a su solo
      criterio cualquier información que sea contraria a esta política tan
      pronto como tenga conocimiento de la existencia de contenidos que resulten
      infractores de esta norma. Los conductores y pasajeros conocen y aceptan
      que el resto de los usuarios podrán emitir reseñas sobre ellos y que las
      reseñas podrán ser publicadas en el SITIO WEB y APP MOVIL. Igualmente, los
      usuarios también aceptan que su nivel de experiencia será calculada y
      establecida y/o publicada en el SITIO WEB y APP MOVIL de acuerdo con el
      criterio estipulado por Worki. V.10._ MENSAJES Worki puede revisar,
      escanear y moderar los mensajes que los Miembros intercambian con otros a
      través del Sitio, en particular para prevenir el fraude, atención al
      cliente, ejecución de los contratos suscritos entre los miembros de Worki
      (como las Condiciones) y garantizar el cumplimiento de la legislación
      aplicable. Por ejemplo, con el fin de impedir la elusión de su Servicio de
      Aplicación, Worki puede escanear y analizar los mensajes enviados a través
      de la plataforma para comprobar que no incluyen los datos de contacto o
      referencias a otras páginas web. Al utilizar el Sitio y aceptar los
      Terminos y Condiciones, los Miembros aceptan que Worki, a su entera
      discreción, pueda revisar, analizar y moderar los mensajes intercambiados
      a través del Sitio. El miembro se compromete a abstenerse de utilizar los
      mensajes para comunicaciones privadas o confidenciales. Worki se reserva
      el derecho de filtrar o suprimir los mensajes y suspender o cesar la
      Cuenta de Usuario del Miembro y el acceso de el Miembro al Sitio si hay
      indicios durante la moderación de los mensajes enviados por el Miembro de
      que el Miembro no cumple con las condiciones y/o la ley aplicable. V.11.-
      CÓDIGO DE CONDUCTA: USOS Y USOS PROHIBIDOS El Usuario acepta que está
      autorizado a utilizar este Sitio únicamente para los fines descritos en
      estos TyC. El Usuario acepta que es completamente responsable de sus
      actividades durante el uso de este Sitio y que se hará cargo de todos los
      riesgos con respecto al uso de este Sitio. El Usuario se compromete a no
      utilizar este Sitio para participar en cualquier conducta prohibida. i.
      Queda estrictamente prohibido consumir cualquier tipo de estupefaciente,
      enervante o cualquier otra sustancia natural o procesada que esté
      prohibida por la Ley. De igual forma, queda estrictamente prohibido el
      portar armas blancas y/o armas de fuego de conformidad a las Leyes
      Federales. ii. Queda estrictamente prohibido acosar a cualquier Usuario,
      mediante spam, mensajes con contenido ofensivo, amenazas, sexismo,
      discriminación ya sea por cuestión de raza, genero, lugar de procedencia.
      iii. Se prohíbe la difusión de información falsa o personificar o hacerse
      pasar por una persona distinta a la cual efectúo el registro de Usuario.
      iv. Se prohíbe cualquier conducta que incite a la violencia física, mental
      o emocional o a la comisión de algún delito o acto ilícito. v. Se prohíbe
      la redistribución de anuncios publicados en otras páginas web así como la
      publicación sin autorización, de material protegido por las leyes de la
      propiedad intelectual como lo son, marcas, derechos de autor y otra
      información y/o datos sin el previo consentimiento de los titulares. vi.
      La información que intercambian los Usuarios, no es responsabilidad de
      Worki, siendo ellos los únicos responsables acerca de la veracidad por lo
      que se sugiere que nunca se provea información personal como lo son
      números de teléfono, direcciones, apellidos, URL’s o direcciones de correo
      electrónico que no sea donde se pidió explícitamente en tu registro y/o la
      sección del perfil. vii. Queda prohibido enviar, introducir o ejecutar
      cualquier información, programa o secuencia que contenga virus, caballos
      de Troya, gusanos, bombas de tiempo, huevos de pascua u otras rutinas de
      programación informática que puedan dañar, interferir negativamente,
      interceptar o expropiar cualquier sistema, dato o información personal;
      Inyectar o introducir un enlace directo o indirectamente a cualquier otro
      SITIO WEB y APP MOVIL salvo que sea explícitamente solicitado por algún
      formulario de ICT. viii. Interferir o interrumpir el Servicio o el sitio o
      los servidores o redes conectadas a los servicios o el sitio, transmitir o
      introducir cualquier material que contenga virus de software o cualquier
      otro código informático, archivos o programas diseñados para interrumpir,
      destruir o limitar la funcionalidad de cualquier software o hardware o
      equipo de telecomunicaciones. Realizar una copia “marco” o “espejo” de
      cualquier parte del Servicio, o código sin nuestra autorización previa y
      por escrito; modificar, adaptar, sublicenciar, traducir, vender, realizar
      ingeniería inversa, descifrar, descompilar cualquier parte del Servicio,
      código o de cualquier software que se utiliza en el SITIO WEB y APP MOVIL.
      ix. En general, Los Usuarios, no pueden utilizar ningún tipo de aparato,
      software o rutina, existente o por inventar, que interfiera o entorpezca
      con el funcionamiento adecuado del SITIO WEB y APP MOVIL y se obligan a no
      utilizar técnicas de ingeniería inversa, des compilación, o des
      ensamblaje, ni a modificar, traducir el SITIO WEB y APP MOVIL, toda vez
      que el mismo goza de la protección que las leyes y tratados de propiedad
      industrial e intelectual establecen. x. Queda estrictamente prohibido
      Hacer cualquier tipo de publicación con fines comerciales en el entendido
      de que Worki presta un Servicio mas no es una página de clasificados en
      términos de la Descripción del Servicio. xi. Los Usuarios, cooperarán con
      Worki para denunciar a cualquier persona que incumpla el Código de
      Conducta. Worki se reserva el derecho para denunciar ante las autoridades
      competentes cualquier conducta que ponga en riesgo la seguridad, salud y/o
      la vida de cualquier persona, Usuario o No Usuario. VI.- DERECHOS DE AUTOR
      Y PROPIEDAD INTELECTUAL: El Contenido del Sitio no puede ser copiado,
      reproducido, republicado, enviado, transmitido, transcrito, traducido,
      almacenado, alterado, descargado o distribuido en ningún medio inventado o
      por inventar, ni por ningún motivo, a excepción del material que Worki
      expresamente provea al Usuario para este fin. Dicha información es
      propiedad de Worki por lo que el usuario deberá eliminarla de cualquier
      medio físico o electrónico una vez que haya cumplido con su uso. Worki se
      compromete a cumplir con las leyes de Derechos de Autor y Propiedad
      Industrial que protegen la propiedad intelectual de terceros así como los
      Tratados Internacionales de la Materia y requiere que todos los Usuarios
      cumplan con estas leyes. En consecuencia, el Usuario tiene prohibido
      almacenar, difundir y/o guardar cualquier material obtenido en el Sitio,
      de ninguna manera que constituya una infracción de los derechos de
      propiedad intelectual de Worki y de terceros, incluidos los derechos
      otorgados por la Ley de Derecho de Autor de los Estados Unidos de América,
      así como los derechos otorgados por el “Digital Millennium Copyright Act
      de 1998 (la “DMCA”)” y lo establecido en la Ley de Propiedad Industrial y
      Ley Federal de Derechos de Autor. WORK TODAY se reserva el derecho de
      suspender el acceso al SITIO WEB y APP MOVIL a cualquier Usuario que haya
      infringido los derechos de autor o de propiedad intelectual de Worki o de
      terceros y cualquier pago que el Usuario haya realizado no será
      reembolsado. Todo el contenido que se encuentre en el SITIO WEB y APP
      MOVIL es propiedad de Worki y el Usuario tiene estrictamente prohibida su
      reproducción sin autorización expresa de Worki. VII.- EXCLUSIÓN DE
      GARANTÍAS: El acceso al SITIO WEB y APP MOVIL no implica ningún tipo de
      garantía, que expresamente se rehúsa por Worki, respecto a la calidad,
      veracidad, exactitud, licitud, actualidad o vigencia, así como la utilidad
      o adecuación a finalidad alguna de quien acceda a ellas. Tanto el acceso
      al SITIO WEB y APP MOVIL como el uso que pueda hacerse de la información y
      contenidos incluidos en el mismo o que sea accesible desde el mismo, se
      efectúa bajo la exclusiva responsabilidad del Usuario. Worki no responderá
      en ningún caso y en ninguna medida, ni por daños directos ni indirectos,
      ni por daño emergente ni por lucro cesante, por los eventuales perjuicios
      derivados del uso de la información y contenidos del SITIO WEB y APP MOVIL
      o accesibles desde o a través del mismo. Worki NO garantiza en modo alguno
      la calidad, veracidad, exactitud, licitud, actualidad o vigencia, así como
      la utilidad o adecuación a finalidad alguna de los contenidos que integran
      el SITIO WEB y APP MOVIL. Worki excluye, con toda la extensión permitida
      por la Ley, cualquier responsabilidad de cualquier clase por la calidad,
      veracidad, exactitud, licitud, actualidad, vigencia o utilidad/adecuación
      a finalidad alguna que el Usuario pudiera haber atribuido a los contenidos
      que integran el SITIO WEB y APP MOVIL. El SITIO WEB y APP MOVIL podrá
      contener enlaces a páginas que, aún dentro del SITIO WEB y APP MOVIL se
      encuentran bajo responsabilidad de terceros. Asimismo el SITIO WEB y APP
      MOVIL podrá contener enlaces a páginas externas en todo caso al mismo. En
      ambos casos, Worki no puede controlar o supervisar en modo alguno dicho
      contenido. Worki excluye, con toda la extensión permitida por la Ley,
      cualquier responsabilidad de cualquier clase, derivada de la existencia o
      posibilidad de acceso a dichos contenidos. Asimismo, Worki no será en
      ningún caso responsable, ni siquiera de forma indirecta o subsidiaria, por
      productos o servicios prestados u ofertados por otras personas o
      entidades, o por contenidos, informaciones, comunicaciones, opiniones o
      manifestaciones de cualquier tipo originados o vertidos por terceros y que
      resulten accesibles a través del SITIO WEB y APP MOVIL de Worki. A)
      SEGURIDAD Y PRIVACIDAD: Worki empleará razonablemente los medios a su
      alcance para proveer de sistemas de seguridad que protejan de forma
      razonable sus sistemas y los datos contenidos en los mismos contra ataques
      deliberados, software malignos, etc. No obstante el Usuario entiende y
      acepta los aspectos que implica la prestación de servicios a través de
      Internet dado el carácter abierto, descentralizado y global de esta red de
      comunicaciones. Por este motivo Worki NO garantiza la inexpugnabilidad de
      sus sistemas de seguridad ni la privacidad de la información alojada en
      los mismos. Worki excluye, con toda la extensión permitida por la Ley,
      cualquier responsabilidad de cualquier clase por fallos de seguridad en el
      SITIO WEB y APP MOVIL y las consecuencias que de ellos pudieran derivarse.
      Uso de ‘cookies’: El SITIO WEB y APP MOVIL de Worki emplea ‘cookies de
      sesión’ con finalidades publicitarias, así como para permitir y facilitar
      la interacción del usuario con el mismo. Asimismo, los servicios de
      estadísticas –propios o ajenos-, empleados por el SITIO WEB y APP MOVIL de
      Worki podrán emplear ‘cookies’ con la única finalidad de establecer
      métricas y patrones de uso del sitio. En ningún caso Worki utiliza o
      accede a las ‘cookies’ para finalidades distintas de las enunciadas. c)
      INTERRUPCIONES Y/O SUSPENSIÓN DEL SISTEMA: Con carácter general los
      diferentes servicios estarán disponibles ininterrumpidamente en Internet.
      Sin embargo, el Usuario queda informado de que Worki NO garantiza en modo
      alguno esta continuidad debido a la naturaleza del medio a través del que
      se prestan. El Usuario entiende y acepta los aspectos que implica la
      prestación de servicios a través de Internet dado el carácter abierto,
      descentralizado y global de la red. Así por ejemplo, a título enunciativo
      no exhaustivo, a continuación se recogen algunas de las situaciones que
      pueden interrumpir temporalmente la prestación de dichos servicios: .-
      Tareas de mantenimiento en los servidores y/o líneas de datos .- Averías
      en los servidores y/o líneas de datos .- Ataques deliberados contra la
      seguridad e integridad del sistema .- Virus informáticos o presencia de
      código maligno en las páginas que conforman o son accesibles desde el
      SITIO WEB y APP MOVIL Worki excluye, con toda la extensión permitida por
      la Ley, cualquier responsabilidad de cualquier clase derivada de la
      interrupción temporal en la disponibilidad del SITIO WEB y APP MOVIL en la
      red Internet. El Usuario queda informado de que Worki podrá en cualquier
      momento, a su solo criterio y sin obligación alguna de aviso previo,
      suspender con carácter definitivo la presencia del SITIO WEB y APP MOVIL
      en la red Internet y por tanto de los servicios prestados desde o a través
      del mismo, sin perjuicio de lo que se hubiere dispuesto al respecto en las
      correspondientes Condiciones Particulares. Worki queda eximida de
      cualquier tipo de responsabilidad de cualquier clase derivada de las
      consecuencias que pudieran producirse por la suspensión definitiva en la
      prestación de dichos servicios. VIII.- BAJA VOLUNTARIA, EXCLUSIÓN Y
      RESPONSABILIDADES: Cualquier Usuario podrá solicitar su baja, en cualquier
      momento, como usuario del SITIO WEB y APP MOVIL. Worki dispondrá de un
      plazo de 30 días para examinar la situación de dicho Usuario para, en su
      caso, emitir factura por todos aquellos consumos que a la recepción de la
      petición de baja se hallaren pendientes de cobro. De no existir importe
      alguno pendiente de liquidación y/o cobro, la baja se llevará a efecto con
      carácter inmediato. En caso contrario, la baja quedará supeditada al cobro
      efectivo de dichos importes por parte de Worki. El Usuario responde del
      buen uso del SITIO WEB y APP MOVIL y de los servicios contratados desde o
      a través del mismo. Cualquier uso de los servicios en contrario por parte
      del Usuario, implicará la inmediata exclusión del SITIO WEB y APP MOVIL
      con pérdida de su condición de usuario registrado del mismo, sin derecho a
      indemnización alguna y sin perjuicio de las correspondientes acciones
      legales a que por parte de Worki hubiere lugar. La falsedad de los datos
      personales facilitados por el Usuario durante el proceso de registro en el
      SITIO WEB y APP MOVIL o en cualquiera de los servicios prestados desde o a
      través del mismo podrá implicar la inmediata exclusión del SITIO WEB y APP
      MOVIL con pérdida de su condición de usuario registrado del mismo, sin
      derecho a indemnización alguna y sin perjuicio de las correspondientes
      acciones legales a que por parte de Worki o de terceros hubiere lugar.
      Cualquier tipo de acción por parte del usuario que pudiera poner en riesgo
      o dañar sistemas, equipos o servicios accesibles directa o indirectamente
      a través del SITIO WEB y APP MOVIL, implicará su inmediata exclusión del
      mismo con pérdida de su condición de usuario registrado del mismo, sin
      derecho a indemnización alguna y sin perjuicio de las correspondientes
      acciones legales a que por parte de WORK TODAY hubiere lugar. Cualquier
      tipo de acción por parte del usuario que vulnere los presentes términos y
      condiciones, las Condiciones Particulares que en su caso pudieran regular
      Servicios concretos, la Ley o las buenas costumbres generalmente
      aceptadas, implicará su inmediata exclusión del SITIO WEB y APP MOVIL con
      pérdida de su condición de usuario registrado del mismo, sin derecho a
      indemnización alguna y sin perjuicio de las correspondientes acciones
      legales a que por parte de Worki hubiere lugar. La pérdida de condición de
      usuario registrado del SITIO WEB y APP MOVIL a consecuencia de exclusión
      del mismo podrá implicar a sólo juicio de Worki la prohibición de
      reingreso al mismo. A tal efecto el usuario queda informado y consiente
      expresamente a dicha circunstancia, autorizando de forma expresa e
      irrevocable a la conservación indefinida –en su caso- por Worki de su
      dirección de correo electrónico, número/s de teléfono y nombre/s de
      usuario que pudiera haber utilizado en el SITIO WEB y APP MOVIL hasta el
      momento de su exclusión. El Usuario será el único responsable frente a
      cualquier reclamación, acción legal, judicial o extrajudicial, iniciada
      por terceras personas tanto contra el propio Usuario como contra Worki,
      basada en usos de los servicios contrarios a la ley, la moral, la buena fe
      y a las buenas costumbres generalmente aceptadas. IX.- NOTIFICACIONES: A
      los efectos de practicar las oportunas notificaciones, Worki designa como
      domicilio de contacto el especificado como propio en el encabezamiento de
      los presentes términos y condiciones. El correo electrónico facilitado por
      el Usuario durante el proceso de registro en el SITIO WEB y APP MOVIL,
      será el utilizado por Worki a efectos de practicar notificaciones al
      Usuario. El Usuario está obligado a mantener debidamente actualizados los
      datos que a efectos de notificaciones se referencian en la presente
      cláusula. Todas las Notificaciones que efectúe Worki al Usuario se
      considerarán válidamente efectuadas si se han realizado empleando los
      datos y a través de los medios anteriormente señalados. Worki no se
      responsabiliza de cualquier perjuicio que pudiere producirse por la
      vulneración del Usuario de su obligación de mantenimiento actualizado de
      sus datos de contacto. X.- VALIDEZ Y ACUERDO COMPLETO: La declaración de
      nulidad o invalidez de cualquier estipulación contenida en los presentes
      términos y condiciones, no afectará a la validez y eficacia de las demás
      cláusulas. Los presentes términos y condiciones de los servicios prestados
      por Worki a través del SITIO WEB y APP MOVIL constituyen el acuerdo total
      entre las partes, considerándose de rango superior a cualquier acuerdo
      previo escrito o verbal, entendimiento, afirmación, representación,
      negociación o propósito de acuerdo en relación con esta materia. XI.- LEY
      APLICABLE Y FUERO: Los presentes términos y condiciones se regirán e
      interpretarán en todos y cada uno de sus extremos por las Leyes Mexicanas.
      Tanto Worki como el Usuario se comprometen a intentar resolver de manera
      amistosa cualquier desacuerdo que pudiera surgir en el desarrollo de las
      relaciones mercantiles que les son propias. Para la solución de cuantas
      cuestiones litigiosas pudieran derivarse del desarrollo de las relaciones
      mercantiles que les son propias, ambas partes acuerdan someterse a la
      jurisdicción de los Juzgados y Tribunales de la ciudad de México (México),
      a salvo -en su caso- sumisión legal obligatoria a fuero de parte. Cookies
      Política de Cookies KUUB PACK, S.A.S Como prácticamente todas las páginas
      en Internet, Worki y los colaboradores utilizamos cookies para poderte
      proponer un servicio web más personalizado. De hecho, no nos sería posible
      desarrollar todas las funcionalidades de la página si no utilizásemos
      cookies. ¿Qué es una cookie? Una cookie es una cadena de caracteres con
      información que enviamos al disco duro de tu computadora, a través de tu
      navegador, para que la página pueda reconocerte. En cualquier caso, las
      cookies no se pueden utilizar para identificar una persona. Por regla
      general, las cookies contienen el nombre del dominio de las que provienen,
      la “vida” de la cookie, y un valor, que normalmente es un número único
      generado de forma aleatoria. También utilizamos otras tecnologías como
      píxeles invisibles u otras similares con la misma finalidad. ¿Cómo
      utilizamos las cookies? Tal y como explicitamos a continuación, las
      cookies se pueden usar de diferentes formas: 1ª categoría: las cookies de
      funcionalidad La página web utiliza las cookies para algunas de las
      funcionalidades. Se pueden usar para proponerte una experiencia de
      navegación óptima cuando navegas por la página web. Por ejemplo, la cookie
      “blabla_remember_me” nos permite saber si has seleccionado la opción
      “Mantener sesión iniciada” para que te puedas conectar automáticamente si
      así lo solicitaste. 2ª categoría: las cookies de mejora de rendimiento
      Estas cookies almacenan información anónima sobre la forma en la que las
      personas utilizan la página web. Esta información se combina con la de
      otros usuarios para mejorar el funcionamiento de la página web. Por
      ejemplo, utilizamos Google Analytics para que nos ayude a entender cómo
      han llegado todos los usuarios a nuestra página web y, por lo tanto,
      podamos identificar en qué debemos mejorar. La información que almacenan
      estas cookies nunca contienen información personal que pudiera permitir la
      identificación de tu identidad. 3ª categoría: targueting cookies o de
      publicidad Estas cookies almacenan información sobre la manera en la que
      navegas para poderte proporcionar contenidos publicitarios pertinentes que
      te puedan interesar. Memorizan las páginas web que has visitado y
      comparten esta información con terceros como, por ejemplo, los
      anunciantes. Por ejemplo, uno de los colaboradores que utilizamos es
      Google, que te proporciona anuncios personalizados cuando visitas otras
      páginas webs. ¿Cómo gestionar las cookies? Puedes modificar los parámetros
      de tu navegador para evitar que las cookies queden almacenadas en tu
      computadora o tu celular sin tu consentimiento explícito. La sección de
      ayuda de tu navegador te aportará todos los detalles sobre cómo puedes
      gestionar las cookies. En cualquier caso, el parametraje no hará
      desaparecer los contenidos publicitarios sino que, simplemente, el
      contenido que se publicará será menos pertinente. Las cookies que
      utilizamos te permiten aprovechar al máximo nuestra página web. Si deseas
      recibir una notificación cuando recibas una nueva cookie en tu computadora
      o rechazarla, puedes hacerlo modificando el parametraje del navegador que
      utilizas. Sin embargo, si las cookies están desactivadas no podrás
      utilizar todas las funcionalidades de nuestra página web, por lo que te
      recomendamos que las dejes siempre activadas para poder tener la mejor
      experiencia. Modificación del uso de cookies Podemos realizar
      modificaciones sobre el uso de cookies en cualquier momento. Si
      realizásemos cambios significativos sobre el uso de cookies, informaremos
      a todos los usuarios en la próxima visita en la página web. Es importante
      que leas la nueva política de cookies. Si no deseas aceptarla, no podremos
      continuar ofreciéndote un servicio, por lo que la única opción será dejar
      de acceder a nuestra página web.
    </div>
  </Container>
</Layout>
>
