---
import Container from "../components/utils/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container className="text-white dark:text-primary-100 px-0">
    <h1 class="text-3xl font-bold mb-6">
      Política de Privacidad y Términos y Condiciones
    </h1>

    <div class="max-w-2xl">
      <p class="mb-6 text-lg"></p>
    </div>
  </Container>
</Layout>
>
