<div class="hero w-full bg-primary">
  <div class="max-w-[900px] py-10 lg:py-15 mx-auto px-10 lg:px-0">
    <img src="logo.svg" alt="Work Today Logo" class="h-15 lg:h-20" />
  </div>
  <div
    class="flex flex-col-reverse lg:flex-row items-center justify-center h-full w-full mx-auto max-w-[900px] py-10 px-10 lg:px-0 text-center lg:text-left"
  >
    <div class="flex-auto lg:flex-1 lg:mt-0 w-full">
      <div
        class="p-3 lg:p-5 rounded-2xl bg-gray-200 inline-block shadow-xl w-25 lg:w-30"
      >
        <img
          class="aspect-square"
          src="isotipo.svg"
          alt="Work Today App Logo"
        />
      </div>
      <div class="flex flex-col mt-10">
        <h1 class="text-white font-bold text-2xl lg:text-3xl mb-2">
          Instala nuestra App
        </h1>
        <p class="text-white text-lg lg:text-xl">
          Encuentra y publica trabajos con nosotros
        </p>
      </div>
      <div class="flex flex-col mt-10 items-start">
        <a
          href="https://play.google.com/store/apps/details?id=io.worktoday"
          target="_blank"
        >
          <img
            class="h-10 lg:h-14"
            src="googleplay.svg"
            alt="Google Play Store Link"
          />
        </a>
      </div>
    </div>
    <div class="">
      <img
        class="w-60 lg:w-80 mx-auto mb-15 lg:mb-0"
        src="app-screenshot.png"
        alt="Work Today App Screenshot"
      />
    </div>
  </div>
</div>
