<div class="hero w-full bg-primary">
  <div class="max-w-[900px] py-15 mx-auto">
    <img src="logo.svg" alt="Work Today Logo" class="h-20" />
  </div>
  <div
    class="flex flex-col lg:flex-row items-center justify-center h-full w-full mx-auto max-w-[900px] py-10"
  >
    <div class="flex-auto lg:flex-1 lg:mt-0">
      <div class="p-5 rounded-2xl bg-gray-200 inline-block shadow-xl w-30">
        <img
          class="aspect-square"
          src="isotipo.png"
          alt="Work Today App Logo"
        />
      </div>
      <div class="flex flex-col mt-10">
        <h1 class="text-white font-bold text-3xl mb-2">Instala nuestra App</h1>
        <p class="text-white text-xl">
          Encuentra y publica trabajos con nosotros
        </p>
      </div>
      <div class="flex flex-col mt-10 items-start">
        <a
          href="https://play.google.com/store/apps/details?id=io.worktoday"
          target="_blank"
        >
          <img class="h-14" src="googleplay.svg" alt="Google Play Store Link" />
        </a>
      </div>
    </div>
    <div class="">
      <div class="p-0">
        <img
          class="h-100 lg:h-150"
          src="app-screenshot.png"
          alt="Work Today App Screenshot"
        />
      </div>
    </div>
  </div>
</div>
