---
import Container from "./utils/Container.astro";

import { APP_NAME } from "../consts";
---

<div class="hero w-full">
  <Container
    className="flex flex-col-reverse lg:flex-row items-center justify-center h-full py-10  text-center lg:text-left"
  >
    <div class="flex-auto lg:flex-1 lg:mt-0 w-full">
      <div
        class="p-3 lg:p-5 rounded-2xl bg-primary-50 dark:bg-primary-900 inline-block shadow-xl w-25 lg:w-30"
      >
        <img class="aspect-square" src="isotipo.svg" alt="{APP_NAME} Isotipo" />
      </div>
      <div class="flex flex-col mt-10 text-white dark:text-primary-200">
        <h1 class="font-bold text-2xl lg:text-3xl mb-2">Instala nuestra App</h1>
        <p class="text-lg lg:text-xl text-white">
          Encuentra y publica trabajos con nosotros
        </p>
      </div>
      <div class="flex flex-col mt-10 items-start">
        <a
          href="https://play.google.com/store/apps/details?id=io.worktoday"
          target="_blank"
        >
          <img
            class="h-10 lg:h-12"
            src="googleplay.svg"
            alt="Google Play Store Link"
          />
        </a>
      </div>
    </div>
    <div class="">
      <img
        class="w-60 lg:w-80 mx-auto mb-15 lg:mb-0"
        src="app-screenshot.png"
        alt="Work Today App Screenshot"
      />
    </div>
  </Container>
</div>
