---
import Head from "../components/shared/BaseHead.astro";
import Footer from "../components/shared/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Work Today App" description="Work Today App" />
  </head>
  <body class="bg-primary dark:bg-primary-700">
    <slot />
    <Footer />
  </body>
</html>
