---
import Head from "../components/shared/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Work Today App" description="Work Today App" />
  </head>
  <body>
    <slot />
  </body>
</html>
