---
import Head from "../components/shared/BaseHead.astro";
import Footer from "../components/shared/Footer.astro";
import Container from "../components/utils/Container.astro";

import { APP_NAME } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${APP_NAME} App`} description={`${APP_NAME} App`} />
  </head>
  <body class="bg-primary dark:bg-primary-700">
    <Container className="py-10 lg:py-15 ">
      <a href="/" class="mb-6 block">
        <img src="/logo.svg" alt="Work Today Logo" class="w-30 lg:w-35" />
      </a>
    </Container>
    <slot />
    <Footer />
  </body>
</html>
