---
import Head from "../components/shared/BaseHead.astro";
import Footer from "../components/shared/Footer.astro";
import Container from "../components/utils/Container.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Work Today App" description="Work Today App" />
  </head>
  <body class="bg-primary dark:bg-primary-700">
    <Container className="py-10 lg:py-15 ">
      <img src="/logo.svg" alt="Work Today Logo" class="w-30 lg:w-35" />
    </Container>
    <slot />
    <Footer />
  </body>
</html>
